name: 'Deploy to AWS Cloudformation'

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # This will allows you to run the workflow manually
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "deploy"
  deploy:
    # The type of runner that the job job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - name: Checkout code from master branch
        uses: actions/checkout@v2

      # Configure AWS Credential
      - name: Configure AWS Credentials
        #uses: aws-actions/configure-aws-credentials@v1
        uses: ec2_deployment
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.ACCESS_KEY_SECRET }}
          aws-region: ap-southeast-1

      # Deploy to AWS CloudFormation
      - name: Deploy to AWS Cloudformation
        uses: ec2_deployment
        with:
          name: ec2-test-stack
          template: ec2.yaml
          no-fail-on-empty-changeset: "1"
